# LangChain core
langchain==0.3.6
langchain-community==0.3.6
langchain-pinecone==0.2.0
langchain-huggingface==0.0.3

# Embeddings
sentence-transformers==2.7.0

# Vector DBs
pinecone-client==5.0.1
faiss-cpu==1.8.0

# LLM wrapper
llama-cpp-python==0.2.20

# PDF parsing
pypdf==5.0.1
pymupdf==1.24.9

# Env/config
python-dotenv==1.0.1

# Streamlit UI
streamlit==1.36.0

# General utils
openai==1.43.0
pyreadline3
