# core
langchain==0.3.26
langchain-pinecone==0.2.8
langchain-openai==0.3.24
langchain-community==0.3.26


# model/embeddings
sentence-transformers==4.1.0


# pdf parsing
pypdf==5.6.1


# env/config
python-dotenv==1.1.0


# streamlit UI
streamlit==1.28.0


# pinecone (client name/version may vary - adapt if you use a different package)
pinecone-client==3.2.2


# general
openai
pyreadline3
llama-cpp-python==0.2.20